@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
  /* scroll-padding: 10rem; */

}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  color: #f000;
  background-color: #fff;
  color-scheme: light dark;
  transition:  2.5s cubic-bezier(.25,1,30,1);
  margin: 0 auto;
}
html::-webkit-scrollbar {
  width: 6px; 
}
html::-webkit-scrollbar-thumb {
  mix-blend-mode: difference;
  background-color: #797979;  
  border-radius: 4px; 
}
html::-webkit-scrollbar-track {
  background-color: #ffffff;
}
